/*font-family: 'Kumbh Sans', sans-serif;*/
/****************Elements selectors************************/
body{
  background-color: hsl(185, 75%, 39%);
  overflow: scroll;
    overflow-x: scroll;
    overflow-y: scroll;
  font-size: 18px;
  width: 1440px;
}
div{
  display: block;
  display: inline-block;
  position: absolute;
  top: 9%;
  left: 10%;
  overflow: hidden;
}
section {
  height: 66%;
  display: block;
}

section.disposition>p {
  width: 32%;
  display: inline-block;
  margin-inline-start: 0.22%;
  margin-inline-end: 0.22%;
  margin-block: 12%;
}

p.dark.post{
    margin-top: 7px;
    margin-bottom: 7px;
}

span.smaller{
    padding: 3px;
}
hr {
    margin: 0px;
    color: hsl(0, 0%, 59%);
}
/****************Class selectors************************/
.smaller{
  font-size:12px;
  margin-top: 0px;
}

.dark{
  Font-size: 16px;
  font-family: Kumbh Sans;
  font-weight: 700;
  color: hsl(229, 23%, 23%);
  text-align: center;
  }

.light{
  font-weight: 400;
  color: hsl(227, 10%, 46%);
  }

.post{
    position: relative;
    top: -17%;
    left: 0%;
  }

  .disposition{
    width: 100%;
    height: 34%;
    padding-top: 2%;
  }
/****************Ids selectors************************/
#bg-bottom{
  position: fixed;
  top: 40%;
  right: -18%;
  height: auto;
  width: 70%;
}

#bg-top{
  position: fixed;
  bottom: 40%;
  left: -18%;
  height: auto;
  width: 70%;
}
#card{
  background-color: white;
  position: absolute;
  top: 30%;
  left: 45%;
  border-radius: 20px;
  width: 350px;
  height: 375px;
  display: block;
}

#bubbles{
  width: 100%;
  height: 50%;
    }
#downcard{
    z-index: 2;
    background-color: white;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    width: 30%;
    height: 28%;
    position: fixed;
    top: 36%;
    left: 38%;
}

#Victor{
    width: 96px;
    height: auto;
    position: relative;
    top: -23%;
    left: 34.4%;
    border-radius: 100%;
    border-style: solid;
    border-width: 5px;
    border-color: white;

}
